h1{
    text-align: center;
    font-family: monospace;
}


.name {
    float: left;
    padding-top: 15px;
    font-size: 25px;
    font-family: monospace;
    padding-left: 40px;
}

.links {
    float: left;
    font-size: 25px;
    font-family: monospace;
    padding-top: 15px;
    
    
}

.personalgoal {
    text-align: center;
    font-family: monospace;
}

.quote {
    text-align: center;
    font-family: monospace;
}

.hobby1 {
    text-align: center;
    border: 5px solid black;
    width: 1000px;
    margin: auto;
    margin-top: 25px;
    background-color: mediumaquamarine;
}

.hobby2 {
    text-align: center;
    border: 5px solid black;
    width: 1000px;
    margin: auto;
    background-color: mediumaquamarine;
}

.hobby3 {
    text-align: center;
    border: 5px solid black;
    width: 1000px;
    margin: auto;
    background-color: mediumaquamarine;
}

.hobbytitle1 {
    font-family: monospace;
    font-size: 25px;
}

.hobbytitle2 {
    font-family: monospace;
    font-size: 25px;
}

.hobbytitle3 {
    font-family: monospace;
    font-size: 25px;
}

.projectt {
    font-family: monospace;
    font-size: 50px;
    
}

.project1 {
    border: 5px solid black;
    width: 1000px;
    margin-top: 60px;
    margin-left: 40px;
    
}

.project1name {
    font-family: monospace;
}

.project2name {
    font-family: monospace;
}

.project3name {
    font-family: monospace;
}

.project2 {
    border: 5px solid black;
    width: 1000px;
    margin-left: 200px;
    margin-top: 50px;
}

.project3 {
    border: 5px solid black;
    width: 1000px;
    margin-left: 400px;
    margin-top: 50px;
}

body {
    background-color: rgb(158, 199, 199);
}

.homepage {
    border: 25px double black;
    width: 1000px;
    margin: auto;
    margin-top: 100px;
    background-color: mediumaquamarine;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.littlemebox {
    border: 5px solid black;
    width: 1000px;
    margin: auto;
    background-color: mediumaquamarine;
}

.littleme {
    font-family: monospace;
    text-align: center;
    font-size: 25px;
}