h1{
    text-align: center;
    font-family: monospace;
}


.name {
    float: left;
    padding-top: 15px;
    font-size: 35px;
    font-family: brush script MT, cursive;
    padding-left: 40px;
    margin-bottom: 25px;
}

.links {
    float: left;
    position: absolute;
    font-size: 25px;
    font-family: monospace;
    margin-top: 60px;
}

.links:hover {
    content: '';
    transform: skew(-20deg);
    transition: 0.25s;
    background-color: greenyellow;
}

.personalquote {
    text-align: center;
    padding-top: 50px;
    font-family: monospace;
}

.hobby {
    text-align: center;
    border: 5px solid black;
    width: 1000px;
    margin: auto;
    margin-top: 25px;
    background-color: mediumaquamarine;
}

.hobbytitle {
    font-family: monospace;
    font-size: 25px;
}

.ap {
    font-family: monospace;
    padding: 25px;
    font-size: 25px;
}

.projectt {
    font-family: monospace;
    font-size: 40px;  
    margin-top: 125px
}

.project1 {
    border: 5px groove black;
    width: 850px;
    margin: auto;
    margin-top: 25px;
    background-color: mediumaquamarine;
}

.zoo {
    padding-left: 275px;
}

.grocery {
    padding-left: 275px;
}

.vault {
    padding-left: 75px;
}

.portpara {
    padding-left: 25px;
    font-family: monospace;
    font-size: 25px;
}


.projectname {
    font-family: monospace;
    text-align: center;
}


.project2 {
    border: 5px groove black;
    width: 800px;
    margin: auto;
    margin-top: 25px;
    background-color: mediumaquamarine;
}

.project3 {
    border: 5px groove black;
    width: 800px;
    margin: auto;
    margin-top: 25px;
    background-color: mediumaquamarine;
}

body {
    background-color: rgb(158, 199, 199);
}

.homepage {
    border: 25px double black;
    width: 1000px;
    margin: auto;
    margin-top: 150px;
    background-color: mediumaquamarine;
    padding-top: 50px;
    padding-bottom: 50px;
}

.littlemebox {
    border: 5px solid black;
    width: 1000px;
    margin: auto;
    margin-top: 150px;
    background-color: mediumaquamarine;
}

.littleme {
    font-family: monospace;
    text-align: center;
    font-size: 25px;
}

.container {
    display: flex;
    position: relative;
    border: 15px double black;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    background-color: mediumaquamarine;
    font-family: monospace;
    justify-content: center;
}

.contacth {
    font-size: 30px;
}

.vname {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}

.vemail {
    padding-bottom: 10px;
    font-size: 25px;
}

.vmessages {
    padding-bottom: 10px;
    font-size: 25px;
    resize: none;
}

.submitb {
    padding-top: 15px;
}
